MYSQL_ROOT_PASSWORD=example-only-generate-with-openssl-rand-hex-32
SOFT_MYSQL_DATABASE=soft_training
SOFT_MYSQL_USER=soft_training_app
SOFT_MYSQL_PASSWORD=example-only-generate-with-openssl-rand-hex-32
GATEWAY_MYSQL_DATABASE=llm_gateway
GATEWAY_MYSQL_USER=llm_gateway_app
GATEWAY_MYSQL_PASSWORD=example-only-generate-with-openssl-rand-hex-32
SOFT_REDIS_PASSWORD=example-only-generate-with-openssl-rand-hex-32
GATEWAY_REDIS_PASSWORD=example-only-generate-with-openssl-rand-hex-32
MINIO_ROOT_USER=ztmdcgadmin
MINIO_ROOT_PASSWORD=example-only-generate-with-openssl-rand-hex-32
